/* Reset CSS Básico */

/* Remova a margem e o preenchimento padrão */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Defina a fonte base para evitar variações */
body {
  font-family: Arial, sans-serif;
}

/* Remova a decoração de links padrão */
a {
  text-decoration: none;
}

/* Defina uma base de tamanho de fonte */
html {
  font-size: 16px;
}

/* Defina uma regra para elementos de formulário */
input, button {
  font-family: inherit;
}

/* Adicione uma regra para as imagens não quebrarem o layout */
img {
  max-width: 100%;
  height: auto;
}

/* Defina a caixa de modelo para ser o padrão */
* {
  box-sizing: border-box;
}
