/* login.css */
.form-login {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;  
}

.fieldset-login {
  align-items: center;
  background: #0080f72b;
  border: 1px solid #93a1ef;
  border-radius: 5px;
  box-shadow: 1px 4px 20px 1px rgb(113 174 255);
  display: flex;
  flex-direction: column;
  max-height: 600px;
  max-width: 270px;
  padding: 5%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.login-h1 {
  font-family: Bradley Hand, cursive;
  font-size: 26px;
  margin-top: 2px;
  text-align: center;
}

.logo-sorte {
  max-width: 183px;
  padding: 38px;
}

.legend-login {
  font-family: fantasy;
  font-size: 26px;
  margin-top: 2px;
  text-align: center;
}

.button-login {
  background-color: #1e88e5;
  border: none;
  border-radius: 8px;
  color: #fafafa;
  height: 38px;
  margin-top: 20px;
  width: 277px;
  cursor: pointer;
}

.button-login:disabled {
  background-color: #1e88e582;
}

.button-register {
  background-color: #f2fffc;
  border-color: #0349ff24;
  border-radius: 8px;
  color: #1e88e5;
  height: 38px;
  margin-top: 20px;
  width: 277px;
  cursor: pointer;
}

.input-email {
  border: 1px solid #001813;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 250px;
}

.input-password {
  border: 1px solid #001813;
  border-radius: 5px;
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 250px;
}

/* Estilos para telas menores */
@media screen and (max-width: 1080px) {
  /* .fieldset-login {
    max-width: 100%;
    margin: 5% 10%;
    padding: 5%;
  } */

  /*  */

  .input-email,
  .input-password {
    width: calc(100% - 20px); /* Subtrai 20px para considerar o padding */
  }
}